:root {
    /* fonts */
    --gh-title-font: 'Bebas Neue', sans-serif;
    --gh-subtitle-font: 'Fira Sans', sans-serif;
    --gh-heading-font: 'Bebas Neue', sans-serif;
    --gh-body-font: 'Roboto', sans-serif;

    /* colors */
    --gh-primary-color: rgb(145, 203, 251);
    --gh-secondary-color: rgb(66, 148, 186);
    --gh-highlight-color: rgb(250, 225, 120);
    --gh-dark-color: #212121;
    --gh-light-color: #deeefb;
    --gh-background-color: rgba(250, 250, 250, 0.8);

    /* nav bar colors*/
    --gh-nav-bg-color: rgba(33, 33, 33, 0.8);
    --gh-nav-toggler: var(--gh-highlight-color);
    --gh-nav-toggler-glow: rgba(250, 225, 120, 0.55);

    /* form colors*/
    --gh-formfocus-border-color: var(--gh-secondary-color);
    --gh-formfocus-shadow: var(--gh-primary-color);
    --gh-background-color: var(--gh-background-color);

    /* text styles*/
    --gh-title-color: var(--gh-dark-color);
    --gh-font-size: 1.2rem;
    --gh-font-weight: 400;
    --gh-line-height: 1.5rem;
}

/* font-family: 'Allan', cursive;
font-family: 'Bebas Neue', cursive;
font-family: 'Fira Sans', sans-serif;
font-family: 'Roboto', sans-serif;
*/

/* Start Sticky footer CSS */
html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;

    font-family: var(--gh-body-font);
    font-size: var(--gh-font-size);
    font-weight: var(--gh-font-weight);
    line-height: var(--gh-line-height);
    color: var(--gh-dark-color);
    background: var(--gh-background-color);
}

main {
    flex-grow: 1;
}

footer {
    flex-shrink: 0;
}
/* End Sticky footer CSS */

/* Element Overrides */

section {
	padding-left: 1rem;
	padding-right: 1rem;
}

h6, .h6,
h5, .h5,
h4, .h4,
h3, .h3,
h2, .h2,
h1, .h1 {
	font-family: var(--cf-heading-font);
	font-weight: 700;
	text-transform: uppercase;
	color: var(--gh-title-color);
	letter-spacing: .1rem;
}

/* End Element Overrides */


/*  NAVBAR */
.navbar-toggler-gh {
	color: var(--gh-nav-toggler-color);
	font-size: 1.5rem;
}

.navbar-toggler {
	color: var(--gh-nav-toggler-glow);
	
}

#mainNav {
	background: var(--gh-nav-bg-color);
}
/* End NAVBAR */


/* START: Main Header*/
.mainLogo {
    height: 0.6em;
}

.mainHeader {
    height: 200px;
    margin-top: 75px;
    background-image: url(/img/Arizona-pic-776px.png);
    background-repeat: no-repeat;
    background-position: right top;
    background-color: var(--gh-light-color);
}

.mainHeader-cover {
	margin-top: 76px;
	height: 400px;
	 background-image: url(/img/cityBG_2560.png);
    background-repeat: no-repeat;
    background-position: top left;
}

.mainHeader-cover > .mainHeader-content {
	backdrop-filter: blur(2px) brightness(80%);
}

.mainHeader-cover .mainTitle, 
.mainHeader-cover .subTitle	{
	color: var(--gh-light-color);
}




.mainTitle	{
	font-family: var(--gh-title-font);
	font-size: 2.5rem;
	line-height: 2rem;
}

.subTitle {
	font-family: var(--gh-subtitle-font);
	font-size: .6rem;
	line-height: 1rem;
	font-weight: 300;
	letter-spacing: .09rem;
}

.mainHeader-wrapper {
	padding-left: 1rem;
	padding-right: 1rem;
}

.mainHeader-content {
	height: 100%;
	display: flex;
	align-items: center;
}

/* END: Main Header*/

.btn-primary {
	 --bs-btn-bg: var(--gh-secondary-color);
	 --bs-btn-border-color: var(--gh-secondary-color);
	 --bs-btn-hover-bg: var(--gh-highlight-color);
	 --bs-btn-hover-border-color: var(--gh-secondary-color);
	 --bs-btn-hover-color: var(--gh-dark-color);
}

/* Main Content */

.section-page {
	padding-top: 5rem;
	padding-bottom: 5rem;
	
}

.section-page:nth-child(even) {
	background-color: var(--gh-light-color);
}


.section-page:nth-child(odd) {
	background-color: var(--gh-primary-color);
}

.section-page:nth-child(2) {
	background-color: var(--gh-light-color);
}

.section-page:last-child {
	background-color: var(--gh-light-color);
}

.profilePic {
	border-radius: 20px;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0px 7px 10px rgba(0, 0, 0, .5);
}

#skills .colored {
	font-size: 4rem;
}

.section-cta {
	display: flex;
	align-items:center;
	justify-content: center;
	padding-top: 1rem;
	padding-bottom: 1rem;
	background-color: var(--gh-dark-color);
	color: var(--gh-light-color);
	text-align: center;
	font-size: 1rem;
	line-height: 1.2rem;
}

.section-cta span {
	padding-left: .9rem;
	padding-right: .9rem;
}

.cta-arrow {
	color: var(--gh-highlight-color);
	font-size: 2rem;
	transition: .4s;
}

.cta-arrow:hover {
	filter: brightness(1.2);

}
/*  End Main Content */


/* START: Footer */

.socialicons {
    font-size: 2rem;
    color: var(--gh-secondary-color);
    transition: color 0.25s;
}

.socialicons:hover {
    color: var(--gh-highlight-color);
}

.footer-main {
	background-color: var(--gh-dark-color);
}

.footer-cta {
	background-color: var(--gh-secondary-color);
	border-radius: 10px;
	width: 75%;
}

.footer-message {
	color: var(--gh-dark-color);
	letter-spacing: .1rem;
}

.footer-bg-cta {
	background: linear-gradient(to bottom, 
	var(--gh-light-color) 0%, 
	var(--gh-light-color) 50%, 
	var(--gh-dark-color) 50%, 
	var(--gh-dark-color) 100%);
}



/* END: Footer */



/**************** MEDIA QUERIES ************/

 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
	.mainHeader {
		background-image: url(/img/DevPortFolioBG_767.png);
	}
}

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
	.mainHeader {
		background-image: url(/img/DevPortFolioBG_992.png);
		height: 300px;
	}

	.mainTitle {
		font-size: 4.5rem;
		line-height: 3.5rem;
	}

	.subTitle {
		font-size: 1.2rem;
		letter-spacing: .1rem;
	}

	.section-cta {
		font-size: 1.5rem;
		line-height: 1.8rem;
	}

	.cta-arrow {
		font-size: 2.5rem;
	}
 }

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
		.mainHeader {
		height: 400px;
		background-image: url(/img/DevPortFolioBG_1200.png);
		
	}

	.mainTitle {
		font-size: 6.5rem;
		line-height: 5.5rem;
	}

	.subTitle {
		font-size: 2rem;
		letter-spacing: .2rem;
	}

 }

 /* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
			.mainHeader {
		height: 500px;
		background-image: url(/img/DevPortFolioBG_2560.png);
		
	}

	.mainTitle {
		font-size: 5.5rem;
		line-height: 4.5rem;
	}

	.subTitle {
		font-size: 1.5rem;
		letter-spacing: .2rem;
	}
 }

 	.section-cta {
		font-size: 2rem;
		line-height: 2.5rem;
		font-weight: 300;
	}

	.cta-arrow {
		font-size: 3.5rem;

	}

 /* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 

}